/*
Source:
https://raw.githubusercontent.com/dligge/na-css-fixes/master/css/stylesheet.css
*/

html {
line-height: 1;
}

a.topictitle {
  font-size: 14px;
}

ul.topics li.row {
padding: 5px 0px 0px 0;
}

.topic-poster {
display: none;
}

li.row {
margin-bottom: 0px !important;
padding: 0px 0px 0px 0;
}

.post {
padding: 0px 0px 0px 0px;
margin-bottom: 5px;
}

.postprofile {
width: 150px;
}

.postprofile_Left .postbody {
float: left;
}

.postbody .content {
padding-top: 0px;
}

.postcontent_footer {
margin-top: 0px;
padding-top: 0px;
text-align: right;
}

ul.forums li.row .lastpostavatar {
  display: none;
}

ul.topics li.row .posteravatar {
  display: none;
}

ul.topics li.row .lastpostavatar {
  display: none;
}

ul.topics li.row .lastpost {
  padding-top: 4px;
}

ul.topics li.row.sticky {
  background-color: #f9f9f9;
}

ul.topiclist dd.posts {
  margin-right: 0px;
}

ul.topiclist li.header dd.lastpost {
    margin-left: 20px;
}

ul.topiclist dd.lastpost {
    padding-left: 0px;
}

#footer .pop-f {
    display: none;
}
